$primary: #44001A;

@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
	font-size: 18px;
}

.topbar {
	background-color: $primary;
	color: $white;
	padding: 0.75rem 1rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: relative;

	.logo {
		display: flex;
		align-items: center;

		.logo-img {
			height: 40px;
			width: auto;
		}

		.logo-text {
			font-size: 1.4rem;
			font-weight: 400;
			font-family: "Architects Daughter", sans-serif;
			margin-left: 0.5em;
		}
	}

	.nav {
		display: flex;
		align-items: center;
		.nav-link {
			color: $white;
			opacity: 0.6;
			padding-left: 0.5em;
			padding-right: 0.5em;
			transition: none;
			&::selection {
					background: transparent;
			}
			&.active, &:hover {
				opacity: 1;
				transition: 0.2s opacity ease-in-out;
			}
		}
	}



	@media (max-width: map-get($grid-breakpoints, md)) {
		.container {
			flex-wrap: wrap;
		}

		.burger {
				background: none;
				border: none;
				color: $white;
				font-size: 1.5rem;
				cursor: pointer;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 5px;
				&:before {
						display: block;
						border: solid 1px rgba(255, 255, 255, 0.25);
						opacity:0.6;
						border-radius: 4px;
						padding: 0.3em;
						color: $white;
				}
		}

		.nav {
			display: block;
			position: absolute;
			top: 100%;
			left: 0;
			right: 0;
			background-color: $primary;
			display: none;
			flex-direction: column;
			align-items: flex-end;
			padding: 0.75rem 1rem 1rem;
			gap: 0.25rem;
			transform: translateY(-10px);
			opacity: 0;
			pointer-events: none;
			width:100%;
			transition: transform 0.25s ease-out, opacity 0.25s ease-out;
			.nav-link {
				padding: 0.5em 1em;
				max-width: 540px;
				text-align: right;
				display: block;
				width:100%;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&.is-open {
			.nav {
				display: flex;
				transform: translateY(0);
				opacity: 1;
				pointer-events: auto;
			}
		}
	}
}