$primary: #44001A;

@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.topbar {
  background-color: $primary;
  color: $white;
  padding: 0.75rem 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .logo {
    display: flex;
    align-items: center;

    .logo-img {
      height: 40px;
      width: auto;
    }

    .logo-text {
      font-size: 1.4rem;
      font-weight: 400;
      font-family:"Architects Daughter", sans-serif;
      margin-left: 0.5em;
    }
  }

  .nav-link {
    color: $white;
    opacity: 0.6;
    padding-left: 0.5em;
    padding-right: 0.5em;
    transition: 0.2s;

    &.active, &:hover {
        opacity: 1;
    }
  }
}
